  /*General*/
body{
    font-family:'Courier New';
    display: flex;
    justify-content: center;
    align-items: center;
}

.inactive{
    display: none;
}





/*INPUTS */


/*inputs general*/
input, select{
    padding: 0;
    width: 60px;
    height: 40px;
    border-radius: 10px;
    border-color: red;
    box-shadow: 2px 1.3px 2px 0.5px gray;
    background-color: white;
    color: red;
    text-align:center;
    text-justify: auto;
    text-shadow:  1px 1px 2px brown;
    font-weight: 1000;
    font-size: large;
}


/*Ocultar los botones de inputs*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button 
{
-webkit-appearance: none;
margin: 0;
}
input[type=number] { -moz-appearance:textfield; }





/*TEXTOS*/


/* tipos de movimientos */
.tipoMov{
    font-weight: bolder;
    font-size: 1.7rem;
    margin-bottom: 6px;
}
.recepciones .tipoMov {
    font-size: 1.5rem;
}
#txtReg {
    font-size: 0.79rem;
}


/*Calidad de movimientos*/
.calidadMov{
    font-size: 0.9rem;
    margin-bottom: 2px;
    font-weight: bold;
}





/*BOTONES*/


/*Boton imprimir*/
.botonImprResult{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3rem;
}

#imprimir{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    border-color: brown;
    box-shadow: 2px 1.3px 2px 0.5px gray;
    background-color: red;
    color: white;
    text-align:center;
    text-justify: auto;
    text-shadow:  2px 2px 4px grey;
    font-weight: 1000;
    font-size: large;
}


/* botones de aumentar/disminuir */
.botIncDis{
    width: 40px;
    height: 30px;
    border-radius: 10px;
    border-color: brown;
    box-shadow: 2px 1.3px 2px 0.5px gray;
    background-color: red;
    color: white;
    text-align:center;
    text-justify: auto;
    text-shadow:  2px 2px 4px grey;
    font-weight: 1000;
    font-size: large;
}




/* PARTES ESPECIFICAS */


/* presentacion */
.presentacion{
    display: flex;
    align-items: center;
    flex-direction: column;
}


/*datos peliminares */
.datosPrelim input{
    width: 160px;
    height: 35px;
    border-radius: 20px;
    border-width: 5px;
    font-weight: 600;
}
#fecha, #equipo{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* datos preliminares > selector de equipos */
.selector{
    width: 170px;
    height: 43px;
    border-radius: 20px;
    font-weight: 600;
    border-width: 5px;
}
.value{
    font-weight: 800;
    margin: 1rem;
    color: white;
    background-color: red;
}


/* panel general */
.panel{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.saques, .remates, .recepciones{
    max-width: 210px;
}
.totales{
    margin-bottom: 1.7rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.totales input{
    width: 70px;
    height: 60px;
    font-size: 2.2rem;
}


/* div separadores */
.separacion1 {
    height: 2em;
}
.separacion2 {
    height: 1.3em;
}


/* resultados */
.resultados{}